<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
     <ion-grid class="scroll">
        <ion-row>
          <ion-col >
            <ion-item >
              <ion-button class="item"  *ngFor="let categoria of categorias" (click)="showProdutos()">
                <ion-thumbnail item-start>
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-thumbnail>
                <p> {{ categoria.nome }} </p>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
   
</ion-content>
